@{
    ViewData["Title"] = "About";
}


<p>Welcome to Beer Quest!</p>
<br />

<p>Please drink responsibly!</p>
<br />

<p> At Beer Quest, we are split between members and  businesses.</p>

<h2>Businesses</h2>

<p>Business will be able to register on our web app, doing so will add <br /> the business to our passports.</p>

<p>The option to go premium will allow business to be the first on the list on our passports, therefore having a higher <br />
    amount of check-ins at the businesses.</p>
<p>Data will be shown of how many check-in from our members that have been to your business from 7 days prior to the current date.</p>
<p> The message board show who have recently checked-in to your business.</p>

<h2>Members</h2>
<br />
<p>Member are users who can generate passports, they will be given a place to go to as well as a marker on a map. <br />
    Once you have bought from all four locations and received their pin, you will be able to get a free beer from the fifth stop. </p>
<p>Ranks and points are use to keep track of how many passport or stops you completed, the more passports you complete, <br />
    the higher your ranks and points will soar.</p>

<p>The message board will show recent logins to neaby businesses so you can see who are entering different businesses.</p>
<h3>Passports</h3>
<br />
<p>Passports are randomly generated with the with 5 stops, stop one are is reserved for our premium businesses, stop two through <br />
    four are for both regular businesses and premium businesses, stop five are for business that have a free beer eligibilty.</p>
 
<p> To get a free beer eligibilty, the business will have had more than 70 check-ins from our members within the last 7 days <br />
   from the current date. </p>

