@{
    ViewData["Title"] = "About";
}

    <div class="newbeerpic">
        <H1>Welcome to Beer Quest!</H1>
        <br />

        <H2>Please remember to drink responsibly!</H2>
        <br />

        <p> At Beer Quest, you may register as a member, businesses, or both!</p>

        <h2>Businesses</h2>
        <br />
        <p>Registering as a business will give the business a chance to be one of the stops on ouy generated passports.</p>

        <p>
            The option to go premium will allow business to be the first stop on our passports, therefore increasing the  <br />
            amount of check-ins at the businesses.
        </p>
        <p>Data will be shown of how many check-in from our members that have been to your business from 7 days prior as well as 30 days prior to the current date.</p>
        <p> The Message Board show who have recently checked-in to your business.</p>
        <br />

        <h2>Members</h2>
        <br />
        <p>
            Member are users who can generate passports, they will be given a address to go to as well as a markers on a map. <br />
            Once you have bought at least one item from all four locations and received their pin, you will be able to get a free beer from the fifth stop.
        </p>
        <p>
            Ranks and points are use to keep track of how many passport or stops you completed. The more passports you complete, <br />
            the higher your ranks and points will be.
        </p>
        <p>The Message Board will show recent logins to nearby businesses from all members on Beer Quest.</p>
        <br />
        <h3>Passports</h3>
        <br />
        <p>
            Passports are randomly generated with five stops, stop one is reserved for our premium businesses, stop two through <br />
            four are for both regular businesses and premium businesses, stop five are for business that have a free beer eligibilty.
        </p>
        <p>
            To get a free beer eligibilty, the business will have had more than 70 check-ins from our members within the last 7 days <br />
            from the current date.
        </p>

    </div>