@{ 
    ViewData["Title"] = "Contact";
}

 <p>Contact Patrick for more information.</p>
 <address>
  120 Conch Street<br />
  Bikini Bottom, Pacific Ocean <br />
       
       
</address>
<p> Phone Number: 25</p>


