@model Domain.Member

@{
    Layout = "~/Views/Shared/LayoutMember.cshtml";
}

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 whiteText bigBox goldBack well">
            <h3 class="registerText whiteText">What should we call you?</h3>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class=" whiteText"></label>
                    <input asp-for="Name" class="registerText form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" style="color: black" />
                </div>
            </form>
        </div>
        <div class="col-md-8"
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
