@model IEnumerable<Rank>
@{
    ViewData["Rank"] = "rank";
}


<center>
    <h2 class="whiteText">Rank</h2>

        @{
            foreach (var name in this.Model)
            {
                
                <p class="whiteText">Rank: @name.Id  Title: @name.Name</p>

            }
        }
    </center>
