@model IEnumerable<Rank>
@{
    ViewData["Rank"] = "rank";
}


<center>
    <h2>Rank</h2>

        @{
            foreach (var name in this.Model)
            {
                
                <p>Rank: @name.Id  Title: @name.Name</p>

            }
        }
    </center>
