@model IEnumerable<Domain.Message>

@{
    ViewData["Title"] = "MessageBoard";
}

<h2>Message Board</h2>
<div> <a asp-action="Index">Home</a></div>


    <body>
@foreach (var item in Model) {
        <p> @item.CurrentMember was at @item.CurrentBar on @item.CurrentDay</p>
}
        
    </body>

