/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/

/*.carousel-inner .item img {
    width: 100%;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    background-color: #777;
}

.carousel .carousel-inner .bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .bg1 {
    background-image: url('../images/beerFlightResize.jpg');
    background-position: center top;
}

.carousel .carousel-inner .bg2 {
    background-image: url('../images/beerGlassesResize.jpg');
    background-position: center center;
}

.carousel .carousel-inner .bg3 {
    background-image: url('../images/beer&PretzelsResize.jpg');
    background-position: center bottom;
}