@model IEnumerable<Domain.Message>

@{
    ViewData["Title"] = "MessageBoard";
}

<h2 class="whiteText">Message Board</h2>




<body>
    @foreach (var item in Model)
    {
        <p class="whiteText"> @item.CurrentMember was at @item.CurrentBar on @item.CurrentDay</p>
    }
</body>

