@model Domain.Business

@{
    ViewData["Title"] = "Index";
}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<h2 class="indexTitle">@Html.DisplayFor(model => model.Name)'s Analytics</h2>

<div class="row">
    <div class="col-xs-8">
            <div id="bar-chart">
            </div>
    </div>
    <div class="col-xs-4 businessInfo">
        <div>
            <p>Address: @Html.DisplayFor(model => model.Address) </p>
        </div>
        <div>
            <p>Your PIN is @Html.DisplayFor(model => model.Pin)</p>
            <p>Make sure your employees know to enter this discreetly.</p>
        </div>
        <br />
        <div>
            @if (Model.Premium == false)
            {
                <p>You are a standard member. Consider joining our premium program to increase the likelihood of appearing on our members' passports.</p>
            }
            @if (Model.Premium == true)
            {
                <p>Thank you for being a premium member! We hope you've noticed the increase in traffic our program brings.</p>
            }
        </div>
    </div>
</div>

<div class="row floralWhite">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-4 summaryData">
                <p>Total visits for the past 7 days</p>
                <h4 id="past7Total"></h4>
            </div>
            <div class="col-xs-4 summaryData">
                <p>Total visits for the past 30 days</p>
                <h4 id="past30Total"></h4>
            </div>
            <div class="col-xs-4 summaryData">
                <p>Total visits since registration</p>
                <h4 id="allTimeTotal"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 summaryData">
                <p>Total unique visitors</p>
                <h4 id="totalUnique"></h4>
            </div>
            <div class="col-xs-4 summaryData">
                <p>Total Return visitors</p>
                <h4 id="totalReturning"></h4>
            </div>
            <div class="col-xs-4 summaryData">
                <p>Total days since registration</p>
                <h4 id="registrationDays"></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-6">
                <div class="legend orange"></div>
                <div class="legendText">
                    <p>Returning Customers</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="legend green"></div>
                <div class="legendText">
                    <p>New Customers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-md-offset-2">
                <div id="pie-chart"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-1" onclick="makePie(pieData1)">Past Seven Days</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-1" onclick="makePie(pieData2)">Past Thirty Days</button>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/js/BusinessSiteVisualization.js"></script>




