@model Domain.Business

@{
    ViewData["Title"] = "Index";
}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h2 class="indexTitle">Verified Visitors</h2>


<div class="row">
    <div class="col-xs-8">
        <div id="bar-chart">
        </div>
    </div>
    <div class="col-xs-4 businessInfo">
        <div>
            <p>Business: @Html.DisplayFor(model => model.Name) </p>
        </div>
        <div>
            <p>Address: @Html.DisplayFor(model => model.Address) </p>
        </div>
        <div>
            <p>Your PIN is @Html.DisplayFor(model => model.Pin)</p>
            <p>Make sure your employees know to enter this discreetly.</p>
        </div>
        <br />
        <div>
            @if(Model.Premium == false)
            {
                <p>You are a standard member. Consider joining our premium program to increase the likelihood of appearing on our members' passports.</p>
            }
            @if(Model.Premium == true)
            {
                <p>Thank you for being a premium member! We hope you've noticed the increase in traffic our program brings.</p>
            }
        </div>
    </div>
</div>



<script>
        $.ajax({
            url: '/Businesses/GetData',
            data: "",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
        })
            .done(function (data) {
                let chartData = [];
                for (let i = 0; i < data.length; i++) {
                    chartData.push(data[i].count);
                }

                let chartDates = []; 

                let pastSevenDays = [];
                for (let i = 0; i < 7; i++) {
                    let d = new Date();
                    d.setDate(d.getDate() - i);
                    let dString = (d.getMonth() + "-" + d.getDate());
                    pastSevenDays.unshift(dString)
                }

                for (let i = 0; i < data.length; i++) {
                    chartDates.push(data[i].date);
                }

                let margin = {
                    top: 30,
                    right: 10,
                    bottom: 30,
                    left: 50
                }

                let height = 400 - margin.top - margin.bottom;
                let width = 720 - margin.left - margin.right;

                let barWidth = 40;
                let barOffset = 20;
                let dynamicColor;

                let yScale = d3.scaleLinear()
                    .domain([0, d3.max(chartData)])
                    .range([0, height])

                let xScale = d3.scaleBand()
                    .domain(d3.range(0, 7))
                    .range([0, width])

                let colors = d3.scaleLinear()
                    .domain([0, chartData.length * .33, chartData.length * .66, chartData.length])
                    .range(['#d6e9c6', '#bce8f1', '#faebcc', '#ebccd1'])

                let awesome = d3.select('#bar-chart').append('svg')
                    .attr('width', width + margin.left + margin.right)
                    .attr('height', height + margin.top + margin.bottom)
                    //.style('background', '#bce8f1')                    
                    
                    .append('g')                    
                    //.text(function (data, i) { return i.count; })
                    .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')')
                    .selectAll('rect').data(chartData)
                    .enter().append('rect')
                    .attr('title', "Hello" )
                    .styles({
                        'fill': function (data, i) {
                            return colors(i);
                        },
                        'stroke': '#31708f',
                        'stroke-width': '1'
                    })                        

                    .attr('width', xScale.bandwidth())
                    .attr('x', function (data, i) {
                        return xScale(i);
                    })

                    .attr('height', 0)
                    .attr('y', height) 
                    //.append('svg:title')
                    //        .text(function (data, i) { return i.count; })
                    //        .text("hello")
                    
                    .on('mouseover', function (data) {                        
                        dynamicColor = this.style.fill;
                        d3.select(this)
                            .style('fill', '#3c763d')                        
                            
                    })

                    .on('mouseout', function (data) {
                        d3.select(this)
                            .style('fill', dynamicColor)
                        $('svg.title').remove();
                    })
                    

                awesome.transition()
                    .attr('height', function (data) {
                        return yScale(data);
                    })
                    .attr('y', function (data) {
                        return height - yScale(data);
                    })
                    .delay(function (data, i) {
                        return i * 20;
                    })

                    .duration(2000)
                    .ease(d3.easeElastic)
                let verticalGuideScale = d3.scaleLinear()
                    .domain([0, d3.max(chartData)])
                    .range([height, 0])

                let vAxis = d3.axisLeft(verticalGuideScale)
                    .ticks()

                let verticalGuide = d3.select('svg').append('g')
                vAxis(verticalGuide)
                verticalGuide.attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')')
                verticalGuide.selectAll('path')
                    .styles({
                        fill: 'none',
                        stroke: "#3c763d"
                    })

                verticalGuide.selectAll('line')
                    .styles({
                        stroke: "#3c763d"
                    })

                let horizontalGuideScale = d3.scaleLinear()
                    .domain([0, d3.max(chartDates)])
                    .range([width, 0])

                let hAxis = d3.axisBottom(xScale)
                    .tickFormat(function (d, i) {
                        return pastSevenDays[i];
                    })

                let horizontalGuide = d3.select('svg').append('g')

                hAxis(horizontalGuide)
                horizontalGuide.attr('transform', 'translate(' + margin.left + ', ' + (height + margin.top) + ')')
                horizontalGuide.selectAll('path')
                    .styles({
                        fill: 'none',
                        stroke: "#3c763d"
                    })
                horizontalGuide.selectAll('line')
                    .styles({
                        stroke: "#3c763d"
                    });
            });
</script>


