body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content #bgVideo {
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0px;
    bottom: 0px;
    z-index: -1000;
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
}


@media (min-width: 1200px) {
    
    .body-content #bgVideo {
        width: 100%;
        position: absolute;
        padding: 0;
        margin: 0;
        left: 0px;
        bottom: 0px;
        z-index: -1000;
        overflow: hidden;
        min-height: 100%;
        min-width: 100%;
        pointer-events: none;
    }
}

.navbar-inverse {
    background-color: #3d77a9;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #f6efff;
    }

    .navbar-inverse .navbar-brand {
        color: #d5ead6;
    }

.tick text {
    fill: white;
}

#footerD {
    position: absolute;
    bottom: 0;
}

.indexTitle {
    color: floralwhite;
}

.businessInfo, .control-label {
    font-size: 20px;
    color: floralwhite;
}

.navbar-inverse {
    background-color: #ffff0000;
    border-color: #ffff0000;
}
#map {
    height: 500px;
    width: 100%;
}

.bigBox {
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    padding: 5px 15px 10px;
}

.littleBox {
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    padding: 5px;
}


.greenBack {
    background-color: rgba(34, 139, 34, .75);
    border-style: groove;
}

.goldBack {
    background-color: rgba(184, 134, 11, .75);
    border-style: groove;
}

.rankText {
    font-size: 20px;
    line-height: 1.4;
    color: floralwhite;
    text-align: left;
}

.under {
    text-decoration: underline
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
