@{
    ViewData["Title"] = "Home Page";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item bg bg1 active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Beer Quest</h1>
                        <p>Get out there and find the best.</p>
                        <p><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lg btn-primary" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item bg bg2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Begin your adventure today</h1>
                        <p>Sign up is easy, start your first quest within minutes!</p>
                        <p><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-primary" role="button">Log in</a></p>
                    </div>
                </div>
            </div>
            <div class="item bg bg3">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p>Join beer quest as a bar or restaurant</p>
                        <p><a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-lg btn-primary" role="button">Learn more</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn btn-lg btn-primary" role="button">Contact</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>